{#
 |------------------------------------------------------------------------------
 | Body Field Template
 |------------------------------------------------------------------------------
#}

<div class="entry--body">
  {% for block in entry.body.all() %}
    {% include '_partials/blocks/' ~ block.type.handle %}
  {% endfor %}
</div>