/*
|------------------------------------------------------------------------------
| General Styles
|------------------------------------------------------------------------------
*/

$primaryColor: #e4002b;
$secondaryColor: #353f60;
$headingFont: 'Source Sans Pro', sans-serif;
$bodyFont: 'Source Serif Pro', serif;

html {
  color: #707070;
  font-family: $bodyFont;
  font-size: 21px;
  line-height: 1.58;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.font-family--body {
  font-family: $bodyFont;
}

.font-family--heading {
  font-family: $headingFont;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  color: #707070;
  font-family: $headingFont;
  margin: 0 0 30px 0;
}

address, dl, fieldset, figure, ol, p, pre, ul, blockquote {
  margin: 0 0 30px 0;
}

.uk-link, a {
  color: $primaryColor;

  &:hover,
  &:focus,
  &:active {
    color: darken($primaryColor, 10%);
  }
}

.uk-link-text,
a.uk-link-text {
  color: #707070;

  &:hover,
  &:focus,
  &:active {
    color: $primaryColor;
  }
}

.uk-margin {
  margin-bottom: 30px;
}

/*
|------------------------------------------------------------------------------
| Section
|------------------------------------------------------------------------------
*/

.uk-section-muted,
.uk-background-muted {
  background-color: #eef2f5;
}

/*
|------------------------------------------------------------------------------
| Navbar
|------------------------------------------------------------------------------
*/

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.uk-logo {
  font-family: $headingFont;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  font-family: $headingFont;
}

/*
|------------------------------------------------------------------------------
| Hero
|------------------------------------------------------------------------------
*/

.hero--full-height {
  height: calc(100vh - 80px);
}

.uk-overlay-primary {
  background: radial-gradient(rgba(#1f2a4a, 0.45), rgba(#121724, 1));
}

/*
|------------------------------------------------------------------------------
| Button
|------------------------------------------------------------------------------
*/

.uk-button {
  font-family: $headingFont;
}


.uk-button-primary {
  color: #fff;
  background-color: $primaryColor;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($primaryColor, 10%);
  }
}

/*
|------------------------------------------------------------------------------
| Description List
|------------------------------------------------------------------------------
*/

.uk-description-list>dt {
  font-family: $headingFont;
}

/*
|------------------------------------------------------------------------------
| Alert
|------------------------------------------------------------------------------
*/

.uk-alert {
  margin-bottom: 30px;
}

*+.uk-alert {
  margin-top: 30px;
}


/*
|------------------------------------------------------------------------------
| Accordion
|------------------------------------------------------------------------------
*/

.uk-accordion-title {
  font-family: $headingFont;
}

.uk-accordion>:nth-child(n+2) {
  margin-top: 15px;
}

.uk-accordion li {
  padding: 15px;
}

/*
|------------------------------------------------------------------------------
| Card
|------------------------------------------------------------------------------
*/

@media screen and (min-width: 640px) {
  .block--card__float-left,
  .block--card__float-right {
    max-width: 390px;
  }

  .block--card__float-left {
    margin-right: 30px;
  }

  .block--card__float-right {
    margin-left: 30px;
  }
}

/*
|------------------------------------------------------------------------------
| Image
|------------------------------------------------------------------------------
*/

.block--image img {
  margin-bottom: 30px;
}

.block--blockquote blockquote {
  border-left: 5px solid #eee;
}

@media screen and (min-width: 640px) {
  .block--image__float-left img,
  .block--blockquote__float-left {
    margin-right: 30px;
  }

  .block--image__float-right img,
  .block--blockquote__float-right {
    margin-left: 30px;
  }

  .block--blockquote__float-left,
  .block--blockquote__float-right {
    max-width: 390px;
  }
}

/*
|------------------------------------------------------------------------------
| Entry
|------------------------------------------------------------------------------
*/

.entry--header {
  background-color: $secondaryColor;
  margin-top: -70px;
  z-index: 1;
}

.entry--category {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.entry--category,
.entry--meta {
  font-family: $headingFont;
  color: #8d9dad;
}

.entry--page-title {
  color: #fff;
}

.entry--soundcloud iframe {
  max-width: 100%;
  max-height: 150px;
}

.entry--sidebar h4 {
  font-size: 21px;
}
.entry--sidebar p {
  font-size: 16px;
}

.entry--main-content {
  margin-top: 60px;
}

/*
|------------------------------------------------------------------------------
| Newsletter
|------------------------------------------------------------------------------
*/

.section--newsletter .section--title .section--title--first {
  font-weight: 700;
}

/*
|------------------------------------------------------------------------------
| Footer
|------------------------------------------------------------------------------
*/

.footer a {
  color: #7a8996;

  &:hover,
  &:focus,
  &:active {
    color: $primaryColor;
  }
}

/*
|------------------------------------------------------------------------------
| Responsive
|------------------------------------------------------------------------------
*/