{#
 |------------------------------------------------------------------------------
 | Code Block Template
 |------------------------------------------------------------------------------
#}

<div class="block block--code">
  {{ block.code | raw }}
</div>