{#
 |------------------------------------------------------------------------------
 | Rich Text Block Template
 |------------------------------------------------------------------------------
#}

<div class="block block--heading">
  <{{ block.size }}>
    {{ block.text | typogrify }}
  </{{ block.size }}>
</div>