{#
 |------------------------------------------------------------------------------
 | Rich Text Block Template
 |------------------------------------------------------------------------------
#}

<div class="block block--richText">
  {{ block.text | typogrify }}
</div>